*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: $font-family;
  color: $color-font-light;
  background: $color-main-opa;
}

html {
  box-sizing: border-box;
  /* 1rem = 10px; 16px - base font size  10px/16px = 62.5% */
  font-size: 62.5%;
}

ul {
  list-style: none;
}
a,
a:active,
a:focus {
  text-decoration: none;
  color: $color-font-light;
  cursor: pointer;
}
span {
  position: relative;
  z-index: 10;
}
button {
  font-size: $font-normal;
}

input {
  height: 3rem;
  outline: none;
}

.grid {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns:
    [sidebar-start] 1fr
    [sidebar-end full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr[full-end];
}

.row-full {
  grid-row: 1 /-1;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col-flex {
  width: 32%;
  margin-bottom: 2%; /* (100-32*3)/2 */
  // position: relative;
}
.col-sidebar {
  grid-column: sidebar-start / sidebar-end;
}
.grid-center {
  grid-column: center-start / center-end;
}

.grid-col {
  grid-column: col-start / center-end;
}

.active {
  display: block;
}
