.header {
  position: fixed;
  width: 10vw;
  height: 100vh;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
  }
  &_logo {
    margin: 5rem 0;
  }
}
.img_container {
  padding: 5px;
  margin: 0 1rem;
  background-color: none;
  border-radius: 100%;
  border-top: 4px solid $color-btn;
  border-bottom: 0 solid $color-btn;
  transition: all 0.2s ease-out;
}

.img_avatar {
  width: 100%;
  border-radius: 100%;
  padding: 5px;
  transition: all 0.1s;
}

.img_container:hover {
  border-top: 0 solid $color-btn;
  border-bottom: 4px solid $color-btn;
}

.img_avatar:hover {
  filter: blur(1px);
}

.navigation {
  &_container {
    margin: 3rem 0;
    width: 100%;
    z-index: 10;
  }
  &_nav-li {
    display: block;
    margin-top: 2.2rem;
    width: 100%;
    z-index: 10;
  }
  &_nav-link {
    position: relative;
    display: block;
    padding: 3rem 4rem;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-medium;
    z-index: 10;
  }
  &_nav-link:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.2s cubic-bezier(1, 0.58, 0.46, 1.03);
    background: linear-gradient(to right, $color-btn, $color-btn-opa);
    z-index: 1;
  }
  &_nav-link:hover::after {
    width: 120%;
  }
}
