.modal {
  position: fixed;
  z-index: 20;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $color-alt-opa;

  &-content {
    background-color: $color-alt;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 80rem;
  }
}
