*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: $font-family;
  color: $color-font-light;
  background-color: $color-dark-opa;
}

html {
  box-sizing: border-box;
  /* 1rem = 10px; 16px - base font size  10px/16px = 62.5% */
  font-size: 62.5%;
}

ul {
  list-style: none;
}
a,
a:active,
a:focus {
  text-decoration: none;
  color: $color-font-light;
  cursor: pointer;
}
span {
  position: relative;
  z-index: 10;
}
.grid {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns:
    [full-start] 1fr [center-start]1fr repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    1fr
    [center-end] 1fr[full-end];
}

.row-full {
  grid-row: 1 /-1;
}
.grid-center {
  grid-column: center-start / center-end;
}

.grid-col {
  grid-column: col-start / col-end;
}
