@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* colors */
$color-main: #153025;
$color-dark: #052e1c;
$color-dark-alt: #1a402f;
$color-light: #338763;
$color-alt: #6a0136;
$color-main-opa: #153025d2;
$color-dark-opa: #052e1c6c;
$color-light-opa: #338763a4;

$color-font-light: #fffefe;

$color-btn: #bfab25;

/* fonts */
$font-family: 'Roboto', sans-serif;

$font-small: 1.2rem;
$font-medium: 1.4rem;
$font-normal: 1.6rem;
$font-large: 1.8rem;
$font-big: 2rem;

$header-h1: 2.8rem;
$header-h2: 2.6rem;
$header-h3: 2.4rem;
$header-h4: 2.2rem;

$font-family: 'Roboto', sans-serif;
