$color-main: #153025;
$color-dark: #052e1c;
$color-dark-alt: #1a402f;
$color-light: #338763;
$color-alt: #6a0136;
$color-main-opa: #153025d2;
$color-dark-opa: #052e1ccc;
$color-light-opa: #338763a4;

$color-font-light: #fffefe;

$color-btn: #bfab25;
